@use "../constants.scss";

.sidePanel {
	display: flex;
	flex-direction: column;
	background-color: map-get(constants.$colors-background, "dark");
	border-top: constants.$dimens-outline-size solid map-get($colors-background, "darker");
}

.sidePanelLeft {
	border-right: constants.$dimens-outline-size solid map-get($colors-background, "darker");
}

.sidePanelRight {
	border-left: constants.$dimens-outline-size solid map-get($colors-background, "darker");
}
