.calculatorForm {
	grid-column: 2/3;
	grid-row: 2/3;
	padding-left: 1rem;
	padding-right: 1rem;
}

.calculatorForm > form {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 8rem auto;
	gap: 0.5rem;
	grid-auto-rows: minmax(2rem, max-content);
}

.calculatorForm > form > * {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

.calculatorForm > form > label {
	grid-column: 1/2;
	margin: auto 0;
}

.calculatorForm > form > input {
	padding-left: 0.5rem;
	grid-column: 2/3;
}

.calculatorForm > form > .controlButtonContainer {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: flex-end;
	grid-column: 2/3;
}

@media (max-width: 800px) {
	.calculatorForm > form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.calculatorForm > form > input {
		height: 2rem;
	}
}
