@use "./constants.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
	font-family: "Open Sans", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: none;
}

#root {
	$side-panel-width: minmax(16rem, 20%);

	height: 100vh;
	width: 100vw;
	background-color: map-get(constants.$colors-background, "base");

	display: grid;
	grid-template-areas:
		"header header header"
		"shapeSelector calculatorForm resultsList";
	grid-template-columns: $side-panel-width auto $side-panel-width;
	grid-template-rows: max-content auto;

	* {
		color: constants.$color-primary-text;
	}
}

@media (max-width: constants.$dimens-mobile-treshold) {
	#root {
		grid-template-areas:
			"shapeSelector"
			"calculatorForm"
			"resultsList";
		grid-template-columns: 100vw;
		grid-template-rows: 4rem auto max-content;
	}
}
