// This file is a part of area-calculator-revisited
// https://www.github.com/hildergill/area-calculator-revisited
// Copyright 2022 Hilder Gill <hildergill@gmail.com>

@use "./constants.scss";

.headerComponent {
	grid-area: header;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1rem;

	h1 {
		margin: auto 0;
	}

	.headerButtonBase {
		padding: 0.5rem 1rem;
		border-radius: 100vh;
		border: constants.$dimens-border-size solid transparent;
		background-color: map-get(constants.$colors-background, "dark");

		* {
			display: inline;
			vertical-align: middle;
		}

		svg {
			margin-right: 0.5rem;
		}

		p {
			font-size: 1rem;
		}

		&:hover {
			border: constants.$dimens-border-size solid constants.$color-secondary-text;
		}

		&:focus {
			outline: constants.$dimens-outline-size solid blue;
		}
	}

	.repoLink {
		align-self: flex-end;
		margin-left: auto;
		text-decoration: none;
	}

	.skipToShapeSelectorButton {
		transform: translateY(-200%);

		&:focus-within {
			transform: translateY(0%);
		}
	}
}

@media (max-width: constants.$dimens-mobile-treshold) {
	.headerComponent {
		display: none;
	}
}
