// This file is a part of area-calculator-revisited
// https://www.github.com/hildergill/area-calculator-revisited
// Copyright 2022 Hilder Gill

@use "./constants.scss";

.numberInput {
	background-color: map-get(constants.$colors-background, "dark");
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-family: "Open Sans", sans-serif;
}
