@use "./constants.scss";

.resultList {
	overflow-y: scroll;

	.resultBox {
		padding: 0.5rem;
		border-bottom: constants.$dimens-outline-size solid map-get($colors-background, "darker");
		border-right: constants.$dimens-outline-size solid map-get($colors-background, "darker");
		background-color: map-get(constants.$colors-background, "base");
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
	}
}
