// This file is a part of area-calculator-revisited
// https://www.github.com/hildergill/area-calculator-revisited
// Copyright 2022 Hilder Gill

@use "./constants.scss";

.shapeSelectorButtonBase {
	padding: 0.5rem;
	background: none;
	border: none;
	border-top: constants.$dimens-outline-size solid transparent;
	border-bottom: constants.$dimens-outline-size solid transparent;
	cursor: pointer;

	&:first-child {
		border-top: none;
	}

	p {
		text-align: left;
		font-size: 1rem;
		color: constants.$color-secondary-text;
	}
}

.shapeSelectorButtonActive {
	background-color: map-get(constants.$colors-background, "light");
	border-top: constants.$dimens-outline-size solid map-get(constants.$colors-background, "darker");
	border-bottom: constants.$dimens-outline-size solid map-get(constants.$colors-background, "darker");

	p {
		color: constants.$color-primary-text;
	}
}

@media (max-width: constants.$dimens-mobile-treshold) {
	.shapeSelectorButtonBase {
		border: none;
		padding: 0.5rem 1rem;
	}
}
