@use "./constants.scss";

.shapeSelector {
	display: flex;
	flex-direction: column;
	background-color: map-get(constants.$colors-background, "dark");
	border-top: 2px solid map-get(constants.$colors-background, "darker");
	border-right: 2px solid map-get(constants.$colors-background, "darker");

	.shapeSelectorButtonBase {
		padding: 0.5rem;
		background: none;
		border: none;
		cursor: pointer;

		p {
			text-align: left;
			font-size: 1rem;
			color: constants.$color-secondary-text;
		}
	}

	.shapeSelectorButtonActive {
		background-color: map-get(constants.$colors-background, "light");
		border-top: 2px solid map-get(constants.$colors-background, "darker");
		border-bottom: 2px solid map-get(constants.$colors-background, "darker");

		&:first-child {
			border-top: none;
		}

		p {
			color: constants.$color-primary-text;
		}
	}
}
