@use "./constants.scss";

.shapeSelectorButtonBase {
	padding: 0.5rem;
	background: none;
	border: none;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	cursor: pointer;

	&:first-child {
		border-top: none;
	}

	p {
		text-align: left;
		font-size: 1rem;
		color: constants.$color-secondary-text;
	}
}

.shapeSelectorButtonActive {
	background-color: map-get(constants.$colors-background, "light");
	border-top: 2px solid map-get(constants.$colors-background, "darker");
	border-bottom: 2px solid map-get(constants.$colors-background, "darker");

	p {
		color: constants.$color-primary-text;
	}
}
