// This file is a part of area-calculator-revisited
// https://www.github.com/hildergill/area-calculator-revisited
// Copyright 2022 Hilder Gill <hildergill@gmail.com>

@use "./constants.scss";

.sidePanel {
	display: flex;
	flex-direction: column;
	background-color: map-get(constants.$colors-background, "dark");
	border-top: constants.$dimens-outline-size solid map-get(constants.$colors-background, "darker");
}

.sidePanelLeft {
	border-right: constants.$dimens-outline-size solid map-get(constants.$colors-background, "darker");
}

.sidePanelRight {
	border-left: constants.$dimens-outline-size solid map-get(constants.$colors-background, "darker");
}

@media (max-width: constants.$dimens-mobile-treshold) {
	.sidePanel {
		flex-direction: row;
		overflow-x: scroll;
		border: none;
	}
}
