.app {
	--dimens-sizebar-width: 20rem;

	height: 100vh;
	background-color: var(--color-background-primary);
	display: grid;
	grid-template-columns: var(--dimens-sizebar-width) auto var(--dimens-sizebar-width);
	grid-template-rows: max-content auto;
}

@media (max-width: 800px) {
	.app {
		width: 100vw;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
