/*
	This file is a part of area-calculator-revisited
	https://www.github.com/hildergill/area-calculator-revisited
	Copyright 2022 Hilder Gill <hildergill@gmail.com>
*/

.shapeSelector {
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	flex-direction: column;
}

.shapeSelector > button {
	--dimens-selected-indicator: 4px;

	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	color: var(--color-foreground-secondary);
	background: none;
	border: none;
}

.shapeSelector > button.active {
	color: var(--color-foreground-primary);
	background-color: var(--color-background-secondary);
	border-left: var(--dimens-selected-indicator) solid var(--color-foreground-secondary);
}

.shapeSelector > button.inactive {
	background-color: none;
	cursor: pointer;
	border-left: var(--dimens-selected-indicator) solid transparent;
}

.shapeSelector > button.inactive:hover {
	color: var(--color-foreground-primary);
}

.shapeSelector > button > p {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
}

.shapeSelector > button > svg {
	width: auto;
	height: 2rem;
}

@media (max-width: 800px) {
	.shapeSelector {
		flex-direction: row;
		justify-content: center;
		gap: 0.2rem;
	}

	.shapeSelector > button,
	.shapeSelector > button.active,
	.shapeSelector > button.inactive {
		border: none;
	}

	.shapeSelector > button > p {
		display: none;
	}
}
